body {
background: linear-gradient(to bottom, White 20%,LightSteelBlue 100%);	
/*background-color:AliceBlue;*/
position:top;
font-family:"Lucida Grande",Tahoma;
height:800px;
}

#Header {
	background-color:rgb(59,89,152);
	color:white;
	position:relative;
	margin-left:0px;
	height:90px;
	width:1366px;
	left:-10px;
	top:-10px;
}
#Header img {
	position:absolute;
	top:0px;
	left:50px;
	height:140px;
	width:200px;
}
#Header #loginmail{
	font-size:12px;
	display:block;
	position:absolute;
	left:800px;
	top:20px;
}
#Header #loginpassword{
	font-size:12px;
	display:block;
	position:absolute;
	left:1000px;
	top:20px;
	
}
#Header #loginpassword input[type=submit]{
	background-color:rgb(59,89,152);
	color:white;
	font-size:13px;
	border-color:black;
	border-width:1px;
	height:20px;
	vertical-align:middle;
}
#Header #loginpassword a{
	color:CornflowerBlue;
}
#Create{
	font-size:10px;
	position:relative;
	right:-700px;
	top:20px;
	width:440px;
	margin-right:0px;
}
#Create #Top{
	font-size:40px;
	font-family:Arial;
}
#Create #subhead{
	font-size:20px;
}
#Create input[type=submit]{
	width:200px;
	height:35px;
	background: linear-gradient( Limegreen , Mediumseagreen);/*#45a049;*/
	font-size:20px;
	border-radius:5px;
	border-style:groove;
	color:white;
}
#Create input[type=text]{
	width:200px;
	border-radius:5px;
	height:30px;
	font-size:18px;
	padding-left:10px;
	margin-bottom:10px;
	border-style:ridge;
	border-color:AliceBlue;
}
#Create #spcl input[type=text]{
	width:422px;
}
#Create #last {
	position:relative;
	top:10px;
	font-size:13px;
}
#imageholder {
	position:relative;
	left:100px;
	top:-270px;
	width:550px;
	height:300px;
	display:block;
}
#imageholder h1{
	position:absolute;
	height:30px;
	left:140px;
}
#imageholder img {
	position:absolute;
	top:50px;
	left:-10px;
	opacity:1;
	border-width:10px;
	border-color:black;
	opacity:0.7;
}
#footer {
	
	background-color:white;
	position:relative;
	bottom:-30px;
	margin-left:-10px;
	margin-bottom:-20px;
	width:1366px;
	height:100px;
}
#footer p{
	position:absolute;
	left:270px;
	top:-20px;
}
#footer a{
	margin-left:10px;
	font-size:12px;
}
hr{
	position:absolute;
	top:10px;
	left:270px;
}
